# Settings logging
LEVEL="DEBUG"
GURU="True"
TRACEBACK="False"

# Settings Telegram
TG_API_ID="https://my.telegram.org/apps"
TG_API_HASH="https://my.telegram.org/apps"
TG_BOT_TOKEN="https://my.telegram.org/apps"
TG_ADMIN_ID="123456789"

# Settings for RabbitMQ
RABBIT_USER="guest"
RABBIT_PASSWORD="guest"
RABBIT_HOST="0.0.0.0"
RABBIT_PORT="5672"